name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: Make release
      run: chmod +x SmartFood/gradlew
    - name: Build with Gradle
      run: cd SmartFood && ./gradlew assembleDebug
    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: smartfood-debug
        path: SmartFood/app/build/outputs/apk/debug/app-debug.apk
